@charset "utf-8";
@media screen and (max-width: 1600px) {
    .itemBg {
        padding: 190px 0;
    }
}

@media screen and (max-width: 1440px) {

    .serviceBox2 h3 {
        font-size: 18px;
        min-height: 40px;
    }


}

@media screen and (max-width: 1366px) {
    .about {
        padding: 60px 0;
    }

    .serviceHeading h3 {
        font-size: 16px;
    }

    .how {
        padding: 70px 0;
    }

    footer {
        padding: 60px 0;
    }
}

@media screen and (max-width: 1280px) {
    .carousel-caption h3 {
        font-size: 60px;
    }

    .footerLastAreaImages img {
        width: 100%;
    }

    .footerLastArea img {
        width: 100%;
    }

    .sectionHeading {
        font-size: 36px;
    }

    .serviceHeading h3 {
        font-size: 14px;
    }

    .serviceInnerDet p {
        min-height: 80px;
    }
}

@media screen and (max-width: 1150px) {
    .nav-tabs > li > a {
        font-size: 18px;
    }

    .serviceInnerDet p {
        min-height: 100px;
    }

    .innerBannerContent h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1005px) {
    .carousel-caption p {
        width: 54%;
    }

    .serviceContent {
        left: 30px;
    }

    .cta {
        padding: 60px 0;
    }

    .ctaDet img {
        width: 55%;
    }

    .cta h5 {
        font-size: 19px;
    }

    .container {
        width: 90%;
    }

    .footerSocial ul li a {
        font-size: 15px;
    }

    .quickLinks ul li a {
        font-size: 15px;
    }

    .footerLastArea img {
        width: 50%;
    }

    .footerLastAreaImages h3 {
        text-align: left;
    }

    .sectionHeading {
        font-size: 30px;
    }

    .innerBanner {
        padding: 210px 0 100px;
    }

    .serviceHeading h3 {
        font-size: 19px;
    }
}

@media screen and (max-width: 960px) {
    .footerLastArea img {
        width: 100%;
    }

    .sectionHeading {
        font-size: 27px;
    }

    .aboutInner {
        padding: 60px 0;
    }

    .serviceBox {
        margin-bottom: 40px;
    }

    .serviceHeading h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {
    .serviceHeading h3 {
        font-size: 16px;
    }

    .sectionHeading {
        font-size: 25px;
    }

    .innerBannerContent h2 {
        font-size: 40px;
    }
    .footerLastAreaImages img
    {
        width: 60%;
    }
    .footerLastArea h3 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .serviceHeading h3 {
        font-size: 26px;
    }

    .serviceInnerDet h4 {
        font-size: 30px;
    }

    .serviceInnerDet p {
        font-size: 18px;
    }

    .innerBannerContent p {
        width: 100%;
    }

    .topbar {
        margin-top: 20px;
    }

    .carousel-caption h3 {
        font-size: 55px;
    }
}
